/* Navbar.css */
.navbar .nav-item {
  padding: 10px;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .nav-item:hover {
  color: #ffffff; /* Hover color */
  transform: scale(1.05); /* Slight scaling effect */
}

.navbar .nav-item.active {
  color: #53d2a6; /* Color for active link */
  font-weight: bold; /* Bold font for active link */
  transform: scale(1.05); /* Slight scaling effect on active */
  /* border-bottom: 2px solid #53d2a6;  */
}

.navbar .nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #53d2a6; /* Underline color */
  transition: width 0.3s ease;
}

.navbar .nav-item:hover::after {
  width: 100%;
}

.navbar .btn {
  transition: all 0.3s ease;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
}

.navbar .btn:hover {
  background-color: #053c3c; /* Darker shade on hover */
  transform: translateY(-3px); /* Slight lift on hover */
}

.dropdown-content {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content.scale-95 {
  opacity: 0;
  transform: scale(0.95);
}

.dropdown-content.group-open\\:scale-100 {
  opacity: 1;
  transform: scale(1);
}

.avatar img {
  transition: all 0.3s ease;
}

.avatar img:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Navbar background effects */
.bg-opacity-60 {
  background-color: rgba(0, 0, 0, 0.6); /* Dark background with transparency */
}

.bg-opacity-45 {
  background-color: rgba(0, 0, 0, 0.45);
}

.transition-all {
  transition: all 0.3s ease-in-out;
}

/* In your App.css or a global CSS file */
.nav-link {
  @apply p-2 block rounded-md transition-all duration-300 hover:bg-gray-800 mt-1 hover:text-white focus:bg-gray-300;
}

.nav-link-active {
  @apply bg-gray-800 text-white;
}

.nav-link-logout {
  @apply bg-red-600 text-white w-full p-2 rounded-lg shadow-md transition-all mt-1 duration-200 hover:bg-red-700 focus:bg-red-800;
}
